.weather-form-box{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 10%;
  height: 500px;
  font-family: 'Nanum Gothic', sans-serif;
}

.weather-form{

}

.location-input-header{
  font-size: 30px;
}

.location-sub-header{
  font-size: 24px;
}

.input-box{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.location-input{
  font-family: 'Nanum Gothic', sans-serif;
  line-height: 16px;
  color: #333;
  font-size: 14px;
  padding: 9px 7px 7px;
  border-left: 1px solid #E1E4DF;
  border-bottom: 1px solid #E1E4DF;
  border-top: 1px solid #E1E4DF;
  border-radius: 5px;
  width: 50%;
}

.request-button{
  font-family: 'Nanum Gothic', sans-serif;
  line-height: 16px;
  font-size: 15px;
  background-color: #B2B1CF;
  border: 1px solid #98D2EB;
  padding: 10px;
  line-height: 15px;
  margin-top: 13px;
  border-radius: 3px;
  width: 51.5%;
}

.request-button:hover{
  background-color: #98D2EB;
  color: #fff;
}

.umbrella{
  margin-top: 100px;
}
.errors{
  line-height: 13px;
  color: #C12323;
  margin-top: 5%;
  background-color: #FFEDED;
  padding: 10px;
  border-radius: 5px;
}
